{% extends 'todoApp/layout.html' %}

{% block title %} Task List {% endblock %}

{% block content %}
<div>
    <h1>Are you sure you want to delete this task?</h1>
    <p class="task-info">{{ task.title }} <span class="{% if task.get_priority_display == 'High' %}high-priority{% elif task.get_priority_display == 'Medium' %}medium-priority{% elif task.get_priority_display == 'Low' %}low-priority{% endif %}">({{ task.get_priority_display }} Priority)</span></p>
    <form method="POST">
        {% csrf_token %}
        <button class="delete-btn" type="submit">Yes, delete it</button>
    </form>
    <a href="{% url 'task_list' %}" class="cancel-link">Cancel</a>
</div>
{% endblock %}