{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{% block title %} Inventory App {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li>
                <p class="navbar-brand">Todo App</p>
            </li>
            <li>
                <a href="{% url 'create_task' %}" class="nav-link {% if request.resolver_match.view_name == 'create_task' %}active{% endif %}">Create Task</a>
            </li>
            <li>
                <a href="{% url 'task_list' %}" class="nav-link {% if request.resolver_match.view_name == 'task_list' %}active{% endif %}">Task List</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>